<div class="wrapper">

    <h2>Вас приветсвует приложение о фильмах</h2><br> 
		
					<mat-tab-group class="demo-tab-group">
						<mat-tab label="Информация о портале">
							<div class="demo-tab-content">
									<p>
											Сайт представляет собой информационнно-рекомендательный некоммерческий сервис.

											Настоящим уведомляем, что на внутренних ресурсах сайта не хранится контент, содержащий объекты авторских прав и нарушающий законодательство в области авторского права. Администрация сайта также не осуществляет деятельность, связанную с публикацией нелицензионного контента, незаконно украденного и находящегося под защитой правообладателей.
											
											Вся видеоинформация, размещенная на сайте, представляет собой исключительно ссылки на видеоматериалы, находящиеся в свободном доступе для просмотра в сети Интернет на сторонних ресурсах. Сбор информации о доступных в сети Интернет видеоматериалов, и размещение на них ссылок на страницах сайта осуществляется в автоматическом режиме. Администрация сайта в данном случае не осуществляет контроль над добавляемыми на сайт ссылками.	
									</p>
							</div>
						</mat-tab>
						<mat-tab label="Дополнительная информация">
							<div class="demo-tab-content">
									<p>
										Если Ваши исключительные права на объекты авторской собственности нарушаются каким-либо образом с использованием данного сайта, администрация готова оказать Вам содействие и удалить с сайта соответствующие ссылки на видеоматериалы.

											Для этого мы просим Вас прислать нам письмо в электронном виде, предоставив минимум информации:
											
											1. Документальное подтверждение Ваших исключительных прав на материал, защищённый авторским правом:
											
											- отсканированный документ с печатью
											- email с официального почтового домена компании правообладателя с ссылкой на правоустанавливающие документы
											- иная информация, позволяющая однозначно идентифицировать Вас как правообладателя данного материала.
											2. Прямая ссылка на страницу сайта, которая предположительно содержит данные, опубликованные с нарушением авторских прав.
											
											3. Полное имя (ФИО) отправителя претензии, как подтверждение своей ответственности за подачу информации.
											
											При получении письма, содержащего данное подтверждение, в течение 12 часов мы удалим с сайта соответствующие ссылки на видеоматериалы, либо по вашей же просьбе заменим их на другие.
											
											
											С уважением, администрация сайта.
										</p>
							</div>  
						</mat-tab>
						
					</mat-tab-group>
				
			

</div>


