.example-card {
	max-width: 400px;
	border:2px solid rgb(187, 183, 183);
}
.film-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
}

.film-card p {
font-size: 16px;
}

.film-card .btn-favorites {
	border: 1px solid grey;
	border-radius: 5px;
	
	font-size: 16px;
}

/* img {
width: 90%;
} */
/* 
mat-card-content p:first-child {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;  
} */

/* .films {
padding: 5%;
} */
/* 
.block {
width: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
} */
/* 
.cards {
width: 30%;
margin: 2% 1%;  
display: flex;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
} */
/* 
.cards div:first-child {
width: 45%;
display: flex;

}

.cards div:last-child {
width: 55%;
} */

/* 
.cards img {
width: 100%;
height: 100%;

} */

/* .info {
padding: 2%;
position: relative;
} */
/* 
h2 {
margin: 0;
font-size: 1.2em;
}

.year {
font-size: 1em;
font-weight: 700;
}

.info p {
font-size: 0.85vw;
}

.btn-block {
width: 100% !important;
position: absolute;
bottom: 5px;
left: 0;
display: flex;
}

button {
font-size: .7vw;
margin: auto;
}

 */


